NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCmzkHGCx3vf6FPZUNMdMphGAnDqb6JPjQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=encurtador-links-senai.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=encurtador-links-senai
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=encurtador-links-senai.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=910094002894
NEXT_PUBLIC_FIREBASE_APP_ID=1:910094002894:web:c0c6b355e31204283efe9f
